<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48884043512-311neb9n1h3q98b9ud3f8etnamtbudg5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48884043512-311neb9n1h3q98b9ud3f8etnamtbudg5</string>
	<key>API_KEY</key>
	<string>AIzaSyD3Sp62FggC1KczzRUsA-2xxaCm84JDvE8</string>
	<key>GCM_SENDER_ID</key>
	<string>48884043512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newChatAppFirebase</string>
	<key>PROJECT_ID</key>
	<string>my-chat-prj-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>my-chat-prj-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48884043512:ios:a5d3192a455070d81c750d</string>
</dict>
</plist>